{% extends "!layout.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="/hdfstream/common.css">
  <script crossorigin src="https://unpkg.com/@msgpack/msgpack@2.8.0"></script>
  <script crossorigin src="https://unpkg.com/dompurify@3.2.3/dist/purify.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/default.min.css">
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/python.min.js"></script>
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/languages/yaml.min.js"></script>
{% endblock %}
