/*
  Dataset contents table
*/
.data_table table th {
    text-align: left;
}
.data_table td {
    padding-left: 1em;
    padding-right: 1em;
}
.data_table tr:nth-child(odd) { background-color: #d1d6ff; }
.data_table tr:nth-child(even) { background-color: #ffffff; }

/*
  HDF5 file contents listing
*/
.hdf5_listing ul {
    list-style: none;
    padding-inline-start: 2em;
    margin-top: 0.3em;
}

.hdf5_listing li {
    margin-top: 0.3em;
}

/*
  Directory listing
*/

.directory_listing td {
    padding-right: 1em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

/*
  Download options
*/
.downloadoptions {
    margin-left: 0em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/*
  Don't word-wrap file and directory names
*/
.directory_listing a {
    white-space: nowrap;
}

/*
  Documentation maximum page width for RTD sphinx theme
*/
.wy-nav-content {
    max-width: 1000px !important;
}

/*
  Documentation page maximum width for Piccolo sphinx theme.
  Also prevent centering (override "margin: auto") so that it doesn't look odd
  when we allow the file browser to use the full page width.
*/
div.body {
    min-width: 360px;
    max-width: 1000px !important;
}
div.document div.documentwrapper {
    max-width: 1000px !important;
    margin-left: 3em !important;
}

/*
  Documentation page max width for immaterial theme
*/
.md-main__inner {
    max-width: 70rem !important;
}

/*
  Also limit the width of descriptions in directory listing pages
*/
.directory_listing p {
    max-width: 1000px !important;
}


/*
  Screenshots
*/
img.screenshot {
    border: 2px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 4px;
    background-color: #f9f9f9;
}

/*
  Header bar colour in piccolo theme
*/
:root {
    --mainNavColor: #986196;
}

/*
  Background image from the main FLAMINGO site
*/
div.document {
    background: url("/flamingo/_static/FLAMINGO_webpage_background_cropped.png") repeat-x;
    background-position: 0 2.0rem;
}

/*
  Size and position of the logo
*/
nav img.flamingo_logo {
    height: 2.0rem !important;
    width: auto;
    vertical-align:middle;
    margin-right:0.7rem;
}

/*
  Hide the page contents sidebar generated by piccolo,
  since we display page contents in the left sidebar.
*/
#right_sidebar {
  display: none;
}
#show_right_sidebar {
  display: none;
}
